@using MyWebApplication.Models
@model HomeModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = Model.Title;

}

<br />
@using (Html.BeginForm())
{
    <div>
        <h3>@Html.DisplayFor(m => m.Title)</h3>
        @Html.HiddenFor(m => m.Time)
    </div>
}
<h2>@Model.Time</h2>