@using ModelsDAL.Filters
@model MyWebApplication.Models.FolderListModel
@{
    ViewBag.Title = "Список папок";
}

<h2>Список папок</h2>
<p>
    @Html.LabelFor(model => model.FolderParentPath, htmlAttributes: new { @class = "control-label col-md-2" })
</p>
<p>
    @Html.ActionLink("Добавить", "Create", new { parentFolderId = Model.FolderParentId } )
</p>
<p>
    @Html.Partial("Filter", new FolderFilter())
</p>
<div style="height:20px;"></div>
@Html.Partial("Grid", Model.Items)
