@using ModelsDAL.Filters
@model MyWebApplication.Models.FolderListModel
@{
    ViewBag.Title = "Список папок";

    ViewBag.Title = Model.CurrentFolder != null ? Model.CurrentFolder.FolderName : "Хранилище документов";
    var parentId = Model.CurrentFolder != null ? Model.CurrentFolder.Id : (long?)null;
}

<h2>Список папок</h2>

<p>
    @Html.ActionLink("Добавить", "Create", new { parent = parentId })
</p>

<div style="height:20px;"></div>
<p>
    @Html.Partial("Filter", new FolderFilter())
</p>

@Html.Partial("Grid", Model.Items, new ViewDataDictionary {
    { "Parent", Model.FolderParent },
    { "IsRootFolder", Model.IsRootFolder },
    { "CurrentFolderId", Model.CurrentFolder != null ? Model.CurrentFolder.Id : (long?)null }
})


